.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #072236;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Logo.css */
.logo {
  width: 100px; /* Adjust the width as needed */
  height: 100px; /* Set the same height to maintain a circle */
  border-radius: 80%; /* Makes the image circular */
  object-fit: cover; /* Ensures the image covers the area without distortion */

}


.logo-container {
  display: flex;
  align-items: center; /* Center logo and title vertically */
}

.navbar-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #eeeaea;
  margin-left: 10px; /* Space between logo and title */
}

.nav-links {
  display: flex; /* Set display to flex for horizontal alignment */
  list-style: none;
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

.nav-links li {
  margin: 0 15px; /* Add margin for spacing between links */
}

.nav-links a {
  text-decoration: none;
  color: #eeeaea;
  font-weight: bold;
  transition: color 0.3s ease;
}

/* Active link styling */
.active-link {
  border-bottom: 2px solid #007bff; /* Underline for active link */
  color: #e0a800; /* Optional: Change color of active link */
}

.nav-links a:hover {
  color: #e0a800; /* Change color on hover */
}

/* Responsive Styles */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column; /* Stack logo and links on smaller screens */
    padding: 10px;
  }

  .nav-links {
    flex-direction: column; /* Stack links on smaller screens */
    align-items: center;
    margin-top: 10px;
  }

  .nav-links li {
    margin: 10px 0; /* Space out links vertically */
  }

  .navbar-title {
    font-size: 1.2rem; /* Smaller title on mobile */
  }
}

@media (max-width: 480px) {
  .navbar-title {
    font-size: 1rem; /* Smaller title on mobile */
    margin-left: 5px;
  }

  .nav-links li {
    margin: 5px 0; /* Space out links vertically */
  }
}